<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    .button {
        border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 45px;
      margin-top: -60px;
      cursor: pointer;
    }
    
    .button1 {background-color: black;}
    </style>

<body>

    <p style="background-color: black;height: 100px;margin-bottom: -50px;"></p>

    <button class="button button1"
    onclick = "window.location.href='http://127.0.0.1:5000/';">
    Back to Home
    </button>

    <img src="pittlogo" height="500" width="600" style="margin-top: 150px;float: inline-end;">

    <h1 style="margin-top:80px;font-family: 'Courier New', Courier, monospace;font-size: larger; font-size: 100px;">Confirmation</h1>

    <p style="margin: 100px, 100px, 150px, 80px; font-size: 65px; padding: 15px 32px; border: 2px dashed black;">To our loyal guest, Thank you for booking your stay here at the Pitt hotel. Your room has been book and will be ready for you on the selected date. If there are any extra requests or question you have please reach out to use at 555-555-5555. Have a wonderful day!</p>

    <img src="booked.jpeg" width="3000" height="400">

</body>
</html>