<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    .button {
        border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 45px;
      margin-top: -60px;
      cursor: pointer;
    }
    
    .button1 {background-color: black}
    </style>

<body>
    <p style="background-color: black;height: 100px;margin-bottom: -50px;"></p>

    <button class="button button1"
    onclick = "window.location.href='http://127.0.0.1:5000/';">
    Back to Home
    </button>

    <img src="pittlogo" height="500" width="600" style="margin-top: 150px;float: inline-end;">

    <p style="margin-top: 20px; font-family: 'Courier New', Courier, monospace; font-style: italic; font-size: 50px;">Please see below current hotel information. Please make note of rooms that are checking out today and their cleaning status.</p>
    
    <h3 style="margin-top: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 50px;">Currently Booked Rooms</h3>
    
    <table style="border: 1px solid black; font-size: 45px; width: 50%;margin-top: 75px;">
        <tr>
        <td>Room Number</td>
        <td>Time of check-out</td>
        <td>Status</td>
    </tr>
    <tr>
        <td style="border: 1px solid black;">Room 205</td>
        <td style="border: 1px solid black;">1:34PM</td>
        <td style="border: 1px solid black;">Occupied</th>
    </tr>
    <tr>
        <td style="border: 1px solid black;">Room 111</td>
        <td style="border: 1px solid black;"> 12:30PM</td>
        <td style="border: 1px solid black;">Ready</td>
    </tr>
    <tr>
        <td style="border: 1px solid black;">Room 101</td>
        <td style="border: 1px solid black;">10:10AM</td>
        <td style="border: 1px solid black;">Being Cleaned</td>
    </tr>
    <tr>
        <td style="border: 1px solid black;">Room 351</td>
        <td style="border: 1px solid black;">1:00PM</td>
        <td style="border: 1px solid black;">Being Cleaned</td>
    </tr>
    <tr>
        <td style="border: 1px solid black;">Room 300</td>
        <td style="border: 1px solid black;">9:14PM</td>
        <td style="border: 1px solid black;">Occupied</td>
    </tr>
    <tr>
        <td style="border: 1px solid black;">Room 212</td>
        <td style="border: 1px solid black;">12:30PM</td>
        <td style="border: 1px solid black;">Ocuppied</td>
    </tr>
</table>

<h3 style="font-size: 45px;">Profits</h3>

<table style="border: 1px solid black; font-size: 45px; width: 50%;margin-top: 75px;">
    <tr>
        <th style="border: 1px solid black;">
            Month
        </th>
        <th style="border: 1px solid black;">
            Monthly Profits
        </th>
        <th style="border: 1px solid black;">
            Monthly Cost
        </th>
    </tr>
    <tr>
        <td style="border: 1px solid black;">January</td>
        <td style="border: 1px solid black;">$675,228</td>
        <td style="border: 1px solid black;">$260,931</td>
    </tr>
    <tr>
        <td style="border: 1px solid black;">Febuary</td>
        <td style="border: 1px solid black;">$957,524</td>
        <td style="border: 1px solid black;">$357,998</td>
    </tr>
    <tr>
        <td style="border: 1px solid black;">March</td>
        <td style="border: 1px solid black;">$865,567</td>
        <td style="border: 1px solid black;">$468,330</td>
    </tr>
    <tr>
        <td style="border: 1px solid black;">April</td>
        <td style="border: 1px solid black;">$302,547</td>
        <td style="border: 1px solid black;">#10,687</td>
    </tr>
    
</table>
</body>
</html>